body {
    background: linear-gradient(#dd1818, #333333) no-repeat center center fixed;
    color:white;
}

li {
    display: inline;
}

.black
{
    background-color: black;
    opacity: 0.5;
}


.box {
    height: 850px;
    width: 500px;
    padding:40px 50px;
    border-radius:5px;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.69);
}